 body{
     background-color: hsl(260, 50%, 98%) ;
 }
 #navi{
    background-color: rgb(121, 82, 179);
    height: 65px;
    color: white;
}
#navi a{
    color: white;
}
#form-inline{float: right;}
#logo{
    margin: auto 0 auto .6rem;
}
.container{
    
margin: auto;}
.row{
    width: 1500px;
}
.col-5{
    
}
.col-3{
    margin: 6.1rem 1rem 0 2.5rem;
}
#big-text{
    margin: 3rem 0 0 0 ;
    font-size: calc(1rem + 3.1vw);
    line-height: 1;
    margin-bottom: 1rem !important;
    font-weight: 600;
    font-family: var(--bs-font-sans-serif);
}
#light-text{
    font-size: 1.5rem;
    color: #474946;
}
.btn1{
    font-size: 1.2rem;
    font-weight: 500;
    height: 55px;
    width: 155px;
    background-color: rgb(121, 82, 179);
    color: white;
    margin: 0 1rem ;
}
.btn1:hover{
    background-color: hsl(264, 36%, 35%);
    color: white;
}
.btn2{
    height: 55px;
    width: 155px;
    border-color: #474946;;
    color: #474946;;
}